.col-md-7{
    margin-bottom: 50px; 
}

.col-md-5{
    margin-bottom: 50px; 
}

.col-md-4{
    display:block;
}

.kitchen img{
  width: 100%;
  height: auto;
}

.form-group a{
    font-weight: bold; 
}

.flag{
    margin-right: 1px; 
}

.mt-4, .my-4{
    margin-top: 500px; 
}

.post-preview > a > .post-subtitle{
    color:#f0a317;
}

my-3 p{
    margin-top: 0px;
}

col-sm-3 a{
    font-weight: bold; 
}

.related-projects{
    margin-top: 200px; 
}

h5{
  
    font-size: 30px; 
    margin-bottom: 80px; 
    color:  #003d66;  
}

.col-md-8 base{
    background-image: url(/static/img/salat.jpg);

    color:white;
    background-color:grey;
    height: 300px;
    width: 400px;
    text-align:center;
    border-style: solid;
    border-color:white;
    border-width: thick; 
     margin-top:25px;
    
}   

.col-md-4{
    color:#333333;
    background-color:white;
    height: 300px;
    width: 400px;
    text-align:left;
    border-style: solid;
    border-color:white;
    border-width: thick; 

    
}  

.recipe1{
    background-image: url(/static/img/dish-img1.jpg);
    text-align: left;
    color: white; 
    font-weight: bold;
    border:5px;
    height: 300px; 

}

.span{
    background-color:orange;
}


.recipe1 p{
    color: white;
    font-weight: bold;
    
}

.recipe1 img{
    opacity: 0.7; 
}


.recipe2{
    text-align: left;
    background-image: url(/static/img/dish-img2.jpg);
    color: white;
    font-weight: bold;
      height: 300px; 
    

}
.recipe3{
    text-align: left;
    background-image: url(/static/img/dish-img3.jpg);
    color: white;
    font-weight: bold;
      height: 300px; 

}

.recipe4{
    text-align: left;
    background-image: url(/static/img/dish-img4.jpg);
    color: white;
    font-weight: bold;
      height: 300px; 

}

.recipe5{
    text-align: left;
    background-image: url(/static/img/dish-img5.jpg);
    color: white;
    font-weight: bold;
      height: 300px; 

}

.recipe6{
    text-align: left;
    background-image: url(/static/img/dish-img6.jpg);
    color: white;
    font-weight: bold;
      height: 300px; 

}


.form-inline{
 margin-bottom: 50px; 
 margin-top: 50px;
 margin-left: 5px; 
}



.dropdown{
    margin-bottom: 50px; 
}

.btn-lg{
    font-size: 16px;
    height: 20px;
    
}

.form-inline .custom-control{
    margin-left: 15px; 
    margin-top: 15px;
}



.textual-inner {
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 20px;
    background-color: rgba(45,179,150,.8);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.textual {
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.recipe-search-block form input[type="search"] {
    font-family: Calibri,sans-serif;
    background-image: url(/themes/kitchen/dist/images/search-icon-red.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-color: transparent;
    border: 0;
    color: #000;
    min-height: 22px;
}

.layout-container, div.messages {
    width: 90%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.recipe-search-block form select {
    color: #000;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.recipeboxdetail{
    margin-bottom: 200px; 
}


.button2, input{
    background-color: white;
    line-height: normal;
    border-style:solid;
    border:none;
    margin-top:20px;
}

.form1{
    width: 40px;
}

.upvotes{
    width:50px;
}

h2 a {
    color: #ff3838;
    font-size: 50px; 
    font-weight: bolder; 
}


.h1{
    margin-top: 20px;
}

.detailpage p{
    text-align: left; 
    margin: 10px; 
}

.empty{
    background-color: white;
}

.form2{
    height: 100px
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.menu-container{
    height: 400px; 
}

.container-heading{
    margin-top: 100px; 
}


.form-control1{
    width: 400px;
}



.h2, h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn-file{
    background-color: #0085a1; 
    border-color: #0085a1; 
}

.btn{
    color: white;
}

.btn-primary1{
    margin-top: 18px;
}



.mod-buttons{
    margin-top: 250px;
    background-color: red;
}

my-4{
    margin-top:50px;
}

btn btn-edit1{
    background-color: red;
    
}

btn btn-delete2{
    background-color:red;
}

btn btn-primary{
  
    margin-top: 50px; 
}

