.col-md-7{
    margin-bottom: 50px; 
}

.col-md-5{
    margin-bottom: 50px; 
}

.kitchen img{
  width: 100%;
  height: auto;
}

.contact-main{
    margin-left: 185px
}

.flag{
    margin-right: 1px; 
}

.col-md-4{
    color:white;
    background-color:red;
    height: 100px;
    width: 400px;
    margin: 1px;

    
}   
