{% extends 'base.html' %} {% block content %}



<h2> {{ page_title }} </h2>

<p>
Welcome to my online cookbook and culinary blog. On this website you can find my favorite Italian recipes. 
I have been a hobby cook since my teens and I really love the Italian kitchen especially dishes from the different regions of the country. 
I hope you get inspiration from the recipes that are available. In addition, you can also add recipes yourself. You can also leave me a message via the contactpage.
<br /><br />Buon appetit. Ciao, Niels

</p>

<div class="kitchen">
<img class="featurette-image img-responsive" src="static/img/demo-kitchen.jpg" alt="kitchen">
</div>



{% endblock %}
