{% extends 'base.html' %} {% block content %}


<div class="about-block">
    
<h2> {{ page_title }} </h2>


<p>
Welcome to my online cookbook and culinary blog! On this website you can find my favorite Italian recipes. 
I have been a hobby cook since my teens and I really love the Italian kitchen, especially dishes from different regions of the country. 
I hope you get inspiration from the recipes that are available. In addition, you can also add recipes to the website yourself. You can also leave me a message via the contactpage. I will contact you as soon as possible.
<br /><br />Buon appetit. Ciao! Niels

</p>

<div class="kitchen">
<img class="featurette-image img-responsive" src="https://raw.githubusercontent.com/nikl881/portfolio/master/static/img/blogfoto2.jpg" alt="kitchen">
</div>

</div>

<i>Catania, Sicilia - Italy. February 2019.</i> 


{% endblock %}
