{% extends 'base.html' %} {% block content %}

<h2>Name of the recipe</h2>

<div class="row">
    <div class="col-md-4">

        <form1>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes
            <input name="firstname" type="text">
            <br><br>
        </form1>

        <form1>
            <i class="fa fa-user-circle" aria-hidden="true"></i> Views
            <input name="firstname" type="text">
            <br><br>

        </form1>

  <form>
            <i class="fa fa-user-circle" aria-hidden="true"></i> Persons
            <input name="firstname" type="text">
            <br><br>

        </form>


    </div>

    <div class="col-md-8">
        <p>recipe image</p>

</div>
</div>

<div class="row">
    <div class="detailpage col-md-6">

        <form1>
            Recipe type<br>
            <input name="firstname" type="text">
            <br><br>
        </form1>

        <form1>
            Name author<br>
            <input name="firstname" type="text">
            <br><br>
        </form1>
        <form1>
            Cuisine region<br>
            <input name="firstname" type="text">
            <br><br>
        </form1>
        <form1>
            Allergens information<br>
            <input name="firstname" type="text">
            <br><br>
        </form1>

    </div>



    <div class="detailpage col-md-6">
        <form2>
            Ingriedients<br>
            <input name="firstname" type="text">
            <br><br>
        </form2>
        <form2>
            Cooking instruction<br>
            <input name="firstname" type="text">
            <br><br>
        </form2>

    </div>


    {% endblock %}
