{% extends 'base.html' %} 
{% block content %} 

<h2> {{ page_title }} </h2>

{% for recipe in recipes %}





<h2>{{recipe.recipe_name}} </h2>
<h3>{{recipe.description}}</h3>
<p>Cuisine Region: {{recipe.cuisine_region}}</p>

<div clas="upvotes">
  <form>
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes:
    <input name="firstname" type="text"> 
  </form>

  <form>
    <i class="far fa-eye" aria-hidden="true"></i> Views:
    <input name="firstname" type="text"> 

  </form>

  <form>
    <i class="fa fa-user-circle" aria-hidden="true"> </i> Author: {{recipe.author_name}}
    <input name="firstname" type="text"> 
  </form>
</div>

<div class="recipeboxdetail">

<div class="container">

  

  <h1 class="my-4">
    <small></small>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="{{recipe.recipe_image}}" alt=""> 
    </div>
    <div class="col-md-4">
      <h3 class="my-3">Preperation</h3>
      <p>{{recipe.cooking_instruction}}</p>
      <h3 class="my-3">Ingredients</h3>
      <p>{{recipe.ingredients}}</p>
      </ul>
    </div>
    <div>
      
      <br>
      <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">EDIT</a>
      <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">DELETE</a>
      
    
     </div>
  </div>

 {% endfor %}



  <div class="row">
  </div>
</div>

</div>

<!-- Related Projects Row -->
<h3 class="my-4">You May Also Like</h3>
<div class="row">
  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
            <img class="img-fluid" src="static/img/dish-img2.jpg" alt="">
          </a>
  </div>
  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
            <img class="img-fluid" src="static/img/dish-img3.jpg" alt="">
          </a>
  </div>
  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
            <img class="img-fluid" src="static/img/dish-img4.jpg" alt="">
          </a>
  </div>
  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
            <img class="img-fluid" src="static/img/dish-img5.jpg" alt="">
          </a>
  </div>
</div>


</div>



{% endblock %}
