{% extends 'base.html' %} 
{% block content %} 

<h2> {{ page_title }} </h2>


        



<h2>{{recipe.recipe_name}} <button class="button button-like">
  <i class="fa fa-heart"></i>
 
</button>



 </h2> 
 



<h3>{{recipe.description}}</h3>
<br>

<i class="fa fa-map-marker" style="font-size:15px"></i>   Cuisine Region: {{recipe.cuisine_region}}



<div clas="upvotes">
  <form>
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes:
    <input name="firstname" type="text"> 
  </form>

  <form>
    <i class="far fa-eye" aria-hidden="true"></i> Views:
    <input name="firstname" type="text"> 

  </form>

  <form>
    <i class="fa fa-user-circle" aria-hidden="true"> </i> Author: {{recipe.author_name}}
    <input name="firstname" type="text"> 
  </form>
</div>
<br>
<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">EDIT</a>
      <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">DELETE</a>


<div class="recipeboxdetail">

<div class="container">

  

  <h1 class="my-4">
    <small></small>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="{{recipe.recipe_image}}" alt=""> 
      <h3 class="my-3">Ingredients</h3>
      <p>{{recipe.ingredients}}</p>
    </div>
    
    
    
    
    <div class="col-md-4">
      <h3 class="my-3">Preperation</h3>
      <p>{{recipe.cooking_instruction}}</p>
      
      </ul>
    </div>
    <div>
      
      

      <br>
      
      
    
     </div>
     
  </div>



</div>


</div>

<script>
  $(document).foundation();

$(function() {
  $('.button-like')
    .bind('click', function(event) {
      $(".button-like").toggleClass("liked");
    })
});
</script>



{% endblock %}
