
{% extends 'base.html' %}
{% block content %} 


<h2> {{ page_title }} </h2>

       <div class="row">
 
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              Aglio e olio peperoncino
            </h2>
            <h3 class="post-subtitle">
              Simple italian classic pasta dish.
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on March 10, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              Busiate al pesto Trapanese
            </h2>
            <h3 class="post-subtitle">
              This dish is the result of a cultural interaction between the Genoese and Sicilians during the time when sailors used to trade across the Mediterranean.
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on March 5, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              Sarde a beccafico
            </h2>
            <h3 class="post-subtitle">
              Sarde a beccafico is a well known Sicilian dish, particularly loved in Palermo.
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on February 2, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              Pappa al pomodoro 
            </h2>
            <h3 class="post-subtitle">
              One of the foods that Tuscany has contaminated the entire peninsula with. 
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on November 8, 2018</p>
            </div>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/recipes">More recipes &rarr;</a>
        </div>
      </div>
    </div>
    
{% endblock %} 