
{% extends 'base.html' %}
{% block content %} 




       <div class="row">
 
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              antipasti misto
            </h2>
            <h3 class="post-subtitle">
              delicious mix of olives, cheeses and different types of Italian ham.
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on March 10, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              spaghetti alle vongole
            </h2>
            <h3 class="post-subtitle">
              spaghetti vongole is an Italian pasta dish with shellfish from the south of Italy.
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on March 5, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
              spaghetti scampi lemone
            </h2>
            <h3 class="post-subtitle">
              delicious and fresh pasta with shrimps. Taste the sea!
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on February 2, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="/detailpage">
            <h2 class="post-title">
            penne con carne
            </h2>
            <h3 class="post-subtitle">
              mildly spicy classic with minced meat, bell pepper and fresh bassilcum. You should taste it once. 
            </h3>
          </a>
          <p class="post-meta">Dish cooked by
            <a href="/about">Niels</a>
            on November 8, 2018</p>
            </div>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/recipes">More recipes &rarr;</a>
        </div>
      </div>
    </div>
    
{% endblock %} 