{% extends 'base.html' %} {% block content %}



<h2> {{ page_title }} </h2>

<p>
 The perfect combination of old favorites and brand new recipes! With a lot of never-before-seen Tasty dishes and treats, this blog is your base for delicious italian dishes. Recipes for minimalists, maximalists, and everyone in between. 
 Whether you're trying to learn the ins and outs of cooking or you want to create over-the-top dishes that are truly Instagram-worthy, it's covered. The only rule? It's gotta be Tasty!
</p>

<div class="container">
 <div class="row">
  
  <div class="col-sm-3">

   <div class="form-group">
    <label for="exampleFormControlSelect2">Recipe name</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Aglio e olio</option>
      <option>Ariabatta</option>
      <option>Scampi lemone</option>
      <option>Pizze mozarella</option>
      <option>Bruchette</option>
    </select>
  </div>
</div>

  <div class="col-sm-3">
    <label for="exampleFormControlSelect2">Author</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Anna</option>
      <option>Anthony</option>
      <option>Niels</option>
    </select>
  </div>
 </div>

<div class="col-sm-3">
 <div class="form-group">
    <label for="exampleFormControlSelect2">Cuisine region</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Tuscany</option>
      <option>Sicily</option>
      <option>Roma</option>
      <option>Abruzzo</option>
    </select>
  </div>  
  </div> 
  
  <div class="col-sm-3">
 <div class="form-group">
    <label for="exampleFormControlSelect2">Allergens</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Nuts</option>
      <option>Wheet</option>
      <option>Oatmilk</option>
    </select>
  </div>  
 </div> 

</div>

<input class="btn btn-primary" type="submit" value="Show results">
<input class="btn btn-secondary" type="reset" value="Reset">


<div class="container-recipes">
 <h2>Add your recipes here</h2>
 <div class="dropdown">
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
   
   

  </div>
  
   <span class="caret"></span></button>
     <a class="btn btn-secondary" href="/addrecipes" role="button">&#43; Add recipes</a>
   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Help
  
  
  </div>
  
  
  
  <!-- Page Content -->
<div class="container">

  <!-- Page Heading -->


  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project One</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Two</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Three</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Five</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Six</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div>
<!-- /.container -->
  


   <script>
    $(document).ready(function() {
     $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".dropdown-menu li").filter(function() {
       $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
     });
    });
   </script>


   {% endblock %}
