{% extends 'base.html' %} {% block content %}



<h2> {{ page_title }} </h2>



  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="/detailpage"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="/detailpage">risotto alla milanese</a>
          </h4>
          <p class="card-text">one of the most popular rice dishes from Italian cuisine</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="/detailpage"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="/detailpage">aglio e olio</a>
          </h4>
          <p class="card-text">favorite of chef Niels. Difficult because of the simplicity of the recipe, but absolutely delicious!</p>
        </div>
      </div>
    </div>
  
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/recipes" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/recipes">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/recipesfollow">2</a>
    </li>
    
    <li class="page-item">
      <a class="page-link" href="/recipesfollow" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div>

  



   {% endblock %}
